{% extends 'base.html.twig' %}

{% block title %}PAUL THE CTO{% endblock %}

{% block body %}
<body class="on">
  <div class="loading" id="loading-box">
    <div class="loading-item"><div class="loading-progress"></div></div>
  </div>
  <main class="main">
    <!-- navbar -->
    <div class="navbar">
      <div class="container">
        <div class="navbar-nav">
          <div class="navbar-brand">
            <!-- You can change it with Image if you want. -->
            <span class="navbar-brand-txt"><a class="txt-bold type-1" href="/">Paul le CTO</a></span>
          </div>

          <span class="navbar-toggler" id="toggler"><i onclick="toggleNavbar(this)" class="fas fa-bars"></i></span>

          <div class="navs" id="navs">
            <!-- You can change the href value and the text value -->
            <div class="navs-item notbtn"><a href="#" class="txt-uppercase">Commands</a></div>
            <div class="navs-item notbtn"><a href="https://gitlab.com/MahaBcb.dev/paul-bot/-/blob/main/readme.md" class="txt-uppercase">Docs</a></div>
            <div class="navs-item"><a href="{{ path('app_login')}}"><button class="btn txt-uppercase shadow-sm">Login</button></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar end -->		
    <!-- jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <div class="jumbotron-items">
          <div class="jumbotron-item">
            <span class="jumbotron-t">Qui est Paul le CTO ?</span>
            <p class="jumbotron-d">Tu es un développeur en quête de savoir ?
            Tu es au bon endroit ! Paul le CTO t'aide à améliorer tes connaissances théoriques 
            et ta culture dans le domaine de l'IT, et ce peu importe ton niveau. 
            <div class="jumbotron-buttons">
            <button class="btn"> <a href="https://www.linkedin.com/in/maha-bouchiba-a10895154/">LinkedIn</a></button>
              <button class="btn blue"> <a href="https://discord.gg/RqHqYggc">Invite </a></button>
            </div>
          </div>
          <div class="jumbotron-item">
            <img src="./img/paulcto.png" alt="image" > 
          </div>
        </div>
      </div>
    </div>
    <!-- jumbotron end -->
    <span class="scroll-down"><i class="fas fa-arrow-down"></i></span>
  </main>

</body>
{% endblock %}
