<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="../../assets/styles/coloring.css">
        <link rel="stylesheet" type="text/css" href="../../assets/styles/style.css">
        <link rel="stylesheet" type="text/css" href="../../assets/styles/txtformatting.css">
        <link rel="stylesheet" type="text/css" href="../../assets/styles/shadow.css">
        <link rel="stylesheet" type="text/css" href="../../assets/styles/loading.css">
        <link rel="stylesheet" type="text/css" href="../../assets/styles/cursor.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block body %}

        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        {% for label, messages in app.flashes(['success', 'warning', 'error', 'danger']) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <script type="text/javascript" src="../../assets/js/script.js"></script>
        <script type="text/javascript" src="../../assets/js/cursor.js"></script>
    {% endblock %}
    </body>
</html>
